@model AntAbstract.Domain.Entities.Tenant

@{
    ViewData["Title"] = "Kongre Detayları";
}

<h1 class="display-5">@ViewData["Title"]</h1>
<h4>@Model.Name</h4>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3 fw-bold">
            Kongre Adı
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3 fw-bold">
            Kısa Ad (Slug)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class="col-sm-3 fw-bold">
            Tema (Json)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ThemeJson)
        </dd>
    </dl>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Düzenle</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Listeye Geri Dön</a>
</div>