@model AntAbstract.Web.Models.ViewModels.ManageUserRolesViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="display-5">@Localizer["PageTitle"]</h1>
<h4>@Localizer["UserLabel"] @Model.UserEmail</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input asp-for="UserId" type="hidden" />
            <div class="card">
                <div class="card-header">
                    @Localizer["CardHeader"]
                </div>
                <div class="card-body">
                    @for (int i = 0; i < Model.Roles.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model.Roles[i].RoleName" />
                            <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model.Roles[i].IsSelected">
                                @Model.Roles[i].RoleName
                            </label>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">@Localizer["UpdateButton"]</button>
                    <a asp-action="UserList" class="btn btn-secondary">@Localizer["CancelButton"]</a>
                </div>
            </div>
        </form>
    </div>
</div>