@using AntAbstract.Domain.Entities
@using Microsoft.AspNetCore.Identity
@model IEnumerable<AppUser>
@inject UserManager<AppUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="display-5">@Localizer["PageTitle"]</h1>
<p class="lead text-muted">@Localizer["PageLead"]</p>
<hr />

<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th>@Localizer["TableHeaderEmail"]</th>
            <th>@Localizer["TableHeaderRoles"]</th>
            <th style="width: 20%;">@Localizer["TableHeaderActions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    @{
                        var roles = await UserManager.GetRolesAsync(user);
                        <span>@string.Join(", ", roles)</span>
                    }
                </td>
                <td>
                    <a asp-action="ManageRoles" asp-route-userId="@user.Id" class="btn btn-sm btn-primary">@Localizer["ManageRolesButton"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>