@model AntAbstract.Domain.Entities.Submission
@using AntAbstract.Domain.Entities
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="display-5">@Model.Title</h1>
<hr />
<div>
    <dl class="row bg-light p-3 rounded mt-3">
        <dt class="col-sm-3 fw-bold">
            @Localizer["TitleLabel"]
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Localizer["AbstractTextLabel"]
        </dt>
        <dd class="col-sm-9" style="white-space: pre-wrap;">
            @Html.DisplayFor(model => model.AbstractText)
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Localizer["DateLabel"]
        </dt>
        <dd class="col-sm-9">
            @Model.CreatedAt.ToLocalTime().ToString("dd MMMM yyyy, HH:mm")
        </dd>

        <dt class="col-sm-3 fw-bold">
            @Localizer["FileLabel"]
        </dt>
        <dd class="col-sm-9">
            <a href="@Model.FilePath" target="_blank">@Localizer["ViewFileLink"]</a>
        </dd>
    </dl>
</div>

<div class="mt-4">
    @if (Model.Status == SubmissionStatus.New)
    {
        <a asp-action="Edit"
           asp-route-submissionId="@Model.SubmissionId"
           class="btn btn-warning">
            @Localizer["EditButton"]
        </a>
    }
    <a asp-action="Index" class="btn btn-outline-secondary">
        @Localizer["BackToListLink"]
    </a>
</div>
