@model IEnumerable<AntAbstract.Domain.Entities.Submission>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<h1 class="display-5">@Localizer["PageTitle"]</h1>
<p class="lead text-muted">@Localizer["PageLead"]</p>
<hr />

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
else if (!Model.Any())
{
    <div class="alert alert-info">
        @Localizer["EmptyListMessage"]
    </div>
}
else
{
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>@Localizer["TableHeaderTitle"]</th>
                <th>@Localizer["TableHeaderAuthor"]</th>
                <th>@Localizer["TableHeaderDate"]</th>
                <th style="width: 15%;">@Localizer["TableHeaderActions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><strong>@item.Title</strong></td>
                    <td>@item.Author.Email</td>
                    <td>@item.CreatedAt.ToLocalTime().ToString("dd MMM yyyy")</td>
                    <td>
                        <a asp-controller="Assignment"
                           asp-action="Assign"
                           asp-route-id="@item.SubmissionId"
                           class="btn btn-primary btn-sm">@Localizer["AssignButton"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}