@model IEnumerable<AntAbstract.Domain.Entities.ReviewAssignment>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="display-5">@Localizer["PageTitle"]</h1>
<p class="lead text-muted">@Localizer["PageLead"]</p>
<hr />

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (!Model.Any())
{
    <div class="alert alert-info">
        @Localizer["EmptyListMessage"]
    </div>
}
else
{
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>@Localizer["TableHeaderTitle"]</th>
                <th>@Localizer["TableHeaderStatus"]</th>
                <th>@Localizer["TableHeaderDueDate"]</th>
                <th style="width: 15%;">@Localizer["TableHeaderActions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><strong>@item.Submission.Title</strong></td>
                    <td>
                        @{
                            var statusClass = item.Status == "Completed" ? "bg-success" : "bg-primary";
                        }
                        <span class="badge @statusClass">@Localizer[item.Status ?? "Bekleniyor"]</span>
                    </td>
                    <td>@item.DueDate.ToLocalTime().ToString("dd MMMM yyyy")</td>
                    <td>
                        @if (item.Status != "Completed")
                        {
                            <a asp-action="PerformReview" asp-route-id="@item.ReviewAssignmentId" class="btn btn-primary">@Localizer["ReviewButton"]</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}