@model AntAbstract.Domain.Entities.Message
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="display-5">@Model.Subject</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">@Localizer["SenderLabel"]</dt>
        <dd class="col-sm-10">@Model.Sender.Email</dd>

        <dt class="col-sm-2">@Localizer["ReceiverLabel"]</dt>
        <dd class="col-sm-10">@Model.Receiver.Email</dd>

        <dt class="col-sm-2">@Localizer["DateLabel"]</dt>
        <dd class="col-sm-10">@Model.SentDate.ToLocalTime().ToString("dd MMMM yyyy, HH:mm")</dd>
    </dl>

    <div class="card mt-4">
        <div class="card-header fw-bold">@Localizer["ContentHeader"]</div>
        <div class="card-body" style="white-space: pre-wrap;">
            @Model.Content
        </div>
    </div>
</div>
<div class="mt-4">
    <a asp-action="Inbox" class="btn btn-primary">@Localizer["BackToInboxLink"]</a>
</div>