@model AntAbstract.Domain.Entities.Session
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="display-5">@Localizer["PageTitle"]</h1>
<p class="lead text-muted">@Model.Title</p>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">@Localizer["TitleLabel"]</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

        <dt class="col-sm-3">@Localizer["DateLabel"]</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.SessionDate)</dd>

        <dt class="col-sm-3">@Localizer["LocationLabel"]</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>

        <dt class="col-sm-3">@Localizer["ConferenceLabel"]</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Conference.Title)</dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@Localizer["EditLink"]</a>
    <a asp-action="Index" class="btn btn-outline-secondary">@Localizer["BackToListLink"]</a>
</div>