@model AntAbstract.Domain.Entities.CongressType
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="display-5">@Localizer["PageTitle"]</h1>
<p class="lead text-muted">@Model.Name</p>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["NameLabel"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@Localizer["EditLink"]</a>
    <a asp-action="Index" class="btn btn-outline-secondary">@Localizer["BackToListLink"]</a>
</div>