@model ErrorViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="text-danger">@Localizer["PageTitle"].</h1>
<h2 class="text-danger">@Localizer["ErrorMessage"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestIdHeader"]:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevModeHeader"]</h3>
<p>
    @Html.Raw(Localizer["DevModeInfo1"])
</p>
<p>
    @Html.Raw(Localizer["DevModeInfo2"])
</p>