@model AntAbstract.Domain.Entities.ScientificField
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1 class="display-5 text-danger">@Localizer["ConfirmationHeader"]</h1>
<h3>@Localizer["AreYouSure"]</h3>
<p class="text-muted">@Localizer["Warning"]</p>
<hr />

<div>
    <dl class="row bg-light p-3 rounded mt-3">
        <dt class="col-sm-3 fw-bold">
            @Localizer["NameLabel"]
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Id" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">@Localizer["DeleteButton"]</button>
        <a asp-action="Index" class="btn btn-secondary">@Localizer["CancelButton"]</a>
    </form>
</div>